<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>编辑商品信息</title>
    <link rel="icon" href="{{static_url('IMG/icon.png')}}">
     <link href="{{static_url('bootstrapL/css/bootstrap.min.css')}}" rel="stylesheet">
</head>
<body background="{{static_url('IMG/rbg.jpg')}}">
<form method="POST" action="/edit/{{r.id}}">
            {% raw xsrf_form_html() %}
        <div style="color:#EEEE00"><h2>商品名：</h2></div>
        <input type="text" id="name" class="form-control" name="name" value="{{r.name}}" required >
        <br>
            <div style="color:#EEEE00"><h2>价格：</h2></div>
        <input type="text" id="price" class="form-control" name="price"  value="{{r.price}}" required>
          <br>
           <div style="color:#EEEE00"><h2> 库存：</h2></div>
            <input type="text" id="amount" class="form-control"  name="amount" value="{{r.total_amount}}" required>
            <br>
            <br>
            <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">提交修改</button>
      </form>
<a class="btn btn-danger" href="/seller">取消并返回</a>

<script src="{{static_url('jqueryL/jquery-3.1.1.min.js')}}"></script>
<script src="{{static_url('bootstrapL/js/bootstrap.min.js')}}"></script>
</body>
</html>