<!DOCTYPE html>
<html lang=zh-cn">
<head>
    <meta charset="UTF-8">
    <title>我的订单</title>
    <link rel="icon" href="{{static_url('IMG/icon.png')}}">
       <link href="{{static_url('bootstrapL/css/bootstrap.min.css')}}" rel="stylesheet">
</head>
<body background="{{static_url('IMG/rbg.jpg')}}">
<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>下单日期</th>
        <th>订单总额</th>
        <th>订单状态</th>
    </tr>
    {%for r in re %}
    <tr>
        <td>{{r.id}}</td>
        <td>{{r.time}}</td>
        <td>{{r.money}}</td>
        <td>{{r.status}}</td>
    </tr>
    {% end %}

    </table>
<div align="center">
    <a href="/">返回首页</a>
    </div>
<script src="{{static_url('jqueryL/jquery-3.1.1.min.js')}}"></script>
<script src="{{static_url('bootstrapL/js/bootstrap.min.js')}}"></script>
</body>
</html>